[submodule "3rd/openssl"]
	path = 3rd/openssl
	url = https://github.com/openssl/openssl
	branch = OpenSSL_1_1_1-stable
[submodule "3rd/curl"]
	path = 3rd/curl
	url = https://github.com/curl/curl
	tag = curl-7_70_0
[submodule "3rd/zlib"]
	path = 3rd/zlib
	url = https://github.com/madler/zlib
	tag = v1.2.11
